DATABASE_URL=
JWT_SECRET=
QR_SERVER_SECRET=
ENCRYPTION_KEY=
LOOKUP_HMAC_KEY=
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
PLATFORM_WHATSAPP_PROVIDER=fonnte
PLATFORM_WHATSAPP_API_KEY=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_APP_URL=
CRON_SECRET=
NEXT_PUBLIC_CONTACT_URL=
